html,body {
background-size: 100% 100%;
width: 100%;
height: 100%;
background-color: black;
}

h1{
 color: white;
 padding-left: 380px; 	
}

.box{
	display: inline-block;
	opacity: 0.6;
    border: 2px solid #a1a1a1;
    padding: 70px 30px;
    background: #dddddd;
    width: 350px;
    height: 130px;
    border-radius: 15px;
    margin: 10px; 
}

.box img{
width: 160px;
margin-top: -8px;
border-radius: 15px;
float:left;
}

.box p{
font-weight: 200;
margin-left: 220px;
font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
font-size: 50px;
}

a {
position: absolute;
right: 25px;
bottom: 0px;
width: 80px;
height: 80px;
color: grey;
text-decoration: none;
}


